  a{
  color:#000000;
  text-decoration:none;
  }
  .hd{
  background-color:#292929;
  display:inline-block;
  width:100%
  }
  .logocontainer{
  width: 73px;
  height: 87px;
 padding:10px;
 display:inline-block;
 float:left;
}
.links{
display:inline-block;
margin-top:45px;
margin-left:50px;
padding:2px;
}
.Menu{
font-size:20px;
color:#d20b10;
border:2px solid #74b4c9;
padding:7px;
border-radius:10px;
background-color:#d7d7d7;
margin-right:100px;
transition-duration:1s;
}
.Menu:hover{
background-color:#000000;
border-radius:15px;
color:#ffffff;
transition-duration:2s;
}
.homebg{
margin-top:10px;
width:100%;
height:460px:
}
.aboutcar{
margin:10px 40px;
text-align:justify;
text-indent:2em;
}
.aboutcar p{
text-indent:3em;
font-size:20px;
color:#A10109;
word-spacing:1px;
letter-spacing:2px;
}
.tabimg{
margin-top:40px;
}
.tabimg h1{
text-align:center;
color:#2773c2;
text-shadow:6px 6px 5px red;
font-size:50px;
}
.carname{
font-size:18px;
color:#A10109;
text-align:center;
}
.imgclick
		{
			display: inline-block;
			margin:50px 50px 50px 438px;
			text-align:center;
		}
		.imgleft
		{
			display:inline-block;
			float:left;
			margin-right:60px;
			transitiom-duration:1s;
		}
		.imgleft:hover
		{
			box-shadow:15px 15px 10px grey;
			transition-duration:1s;
		}
		.imgright
		{
			display:inline-block;
			transitiom-duration:1s;
		}
		.imgright:hover
		{
			box-shadow:15px 15px 10px grey;
			transition-duration:1s;
		}
		.foo
		{
			background-color:#8f8f8f;
			width:96%;
			color:#ffffff;
			font-size:22px;
			font-weight:bold;
			text-align:center;
			padding:30px;
		}
		 .box
  { font-size:29px;
    width:200px;
	padding-top:10px;
	margin-left:410px;
	margin-bottom:10px;
	display:inline-block;
	color:red;
	font-weight:bold;
	text-shadow:15px 15px 15px red;
	}
 .box h3
  { 
	color:blue;
	font-weight:none;
	text-shadow:2px 2px 2px blue;
	
	}

	.box1
	{
	border:5px solid black;
	width:250px;
	padding:20px;
	margin-left:190px;
	margin-top:10px;
	display:inline-block;
	border-top-left-radius:30px;
	border-bottom-right-radius:30px;
	background-color:rgb(0,0,0,0.4);
		transition-duration:2s;

    
	}
	.box1:hover
	{
	background-color:#66ffff;
	transition-duration:2s;
			box-shadow:8px 8px 8px grey;

	}
	.box2
	{
	border:5px solid Blue;
    width:190px;
	padding:10px;
	margin:0px;
	background-color:rgb(0,0,0,0.4);
	color:red;
	text-align:center;
	font-size:20px;
	transition-duration:2s;
	}
	.box2:hover
	{
     background-color:#000000;
	 transition-duration:2s;
	 text-shadow:5px 5px 5px blue;
	 box-shadow:6px 6px 6px blue;
	 
	}
	
    .box3
	{
	border:5px solid Blue;
    width:190px;
	padding:10px;
	margin-left:400px;
	margin-top:-57px;
	background-color:rgb(0,0,0,0.4);
	font-size:20px;
	color:red;
	text-align:center;
		transition-duration:2s;

}
.box3:hover
	{
     background-color:#000000;
	 transition-duration:2s;
	 text-shadow:5px 5px 5px blue;
	 box-shadow:6px 6px 6px blue;
	 }
	 
	.box4
	{
	border:5px solid Blue;
    width:190px;
	padding:10px;
	margin-left:820px;
	margin-top:-50px;
	background-color:rgb(0,0,0,0.4);
	font-size:20px;
	color:red;
	text-align:center;
	transition-duration:2s;
	}
	.box4:hover
	{
     background-color:#000000;
	 transition-duration:2s;
	 text-shadow:5px 5px 5px blue;
	 box-shadow:6px 6px 6px blue;
	 }
	 .box5
	 {
	 border:1px solid black;
	 background-color:#ffffff;
	 border-radius:20px;
	 padding:10px;
	 
	 }
	 .box5:hover{
	border:1px solid black;
	border-radius:20px;
	padding:10px;
	 background-color:#ff0033;
	}
	 .box6
	 {
	 border:1px solid black;
	 background-color:#ffffff;
	 border-radius:20px;
	 padding:10px;
	 margin-left:50px;
	 }
	  .box6:hover{
	   border:1px solid black;
	 background-color:#ff0033;
	 border-radius:20px;
	 padding:10px;
	 margin-left:50px;

    }
		.foo h3
		{
			font-size:36px;
			text-decoration:underline;
		}
